.container {
  display: flex;
  margin: auto;
  padding: 10px;
  margin-left: 25px;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $gray;
  margin-top: 20px;
  flex-wrap: wrap;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
}

.card {
  margin: 30px;
  background-color: $light-pink;
  height: 20rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: rgb(230, 201, 201);
}

.card-name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card-image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid $light-pink;
  margin-top: 20px;
  box-shadow: 0 10px 50px rgb(199, 163, 163);
}

h1 {
  text-align: center;

  font-size: 46px;
  background: repeating-linear-gradient(
    45deg,
    $green,
    $green 30px,
    $red 30px,
    $red 60px
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  animation: 40s linear 0s infinite move;
}

.button-cart-list {
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: $gray;
  width: 200px;
  height: 35px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 550;
  color: $green;
  background-size: 70% 70%;
  box-shadow: 0 0 0 7px $gray inset;
  margin: 18px;
}

.button-cart-list:hover {
  background-image: linear-gradient(
    145deg,
    transparent 10%,
    $light-gray 10% 20%,
    transparent 20% 30%,
    $light-gray 30% 40%,
    transparent 40% 50%,
    $light-gray 50% 60%,
    transparent 60% 70%,
    $light-gray 70% 80%,
    transparent 80% 90%,
    $light-gray 90% 100%
  );
  animation: move 5s linear infinite;
}
@keyframes move {
  from {
    background-position: 0px;
  }
  to {
    background-position: 1000px;
  }
}
.link {
  text-decoration: none;
}
