@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300|Castoro:400|Caveat:400|Mulish:400");
// Font size
$font-size-large: 40px;
$font-size-small: 18px;

// Color
$light-pink: #e9635e;
