@import url("https://fonts.googleapis.com/css?family=Lato:400,300|Castoro:400|Caveat:400|Mulish:400");
// Font size
$font-size-large: 40px;
$font-size-middle: 25px;
$font-size-small: 18px;

// Color
$light-pink: #e9635e;
$green: #07630ec7;
$red: #ca1414;
$gray: #eeeeee;
$light-gray: #f8f5f5;
$white: #ffffff;
$black: #1e1e1e;
